/****General Elements****/

  :root {
    --primary-font: monospace;
    --secondary-font: sans-serif;
  }

  html {
    overflow-x: hidden !important;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax( 250px, 1fr ) );
  }

  body {
    background: #fff;
    color: #333;
    font-family: var(--secondary-font);
  }

  article button:hover {
    transform: scale(1.2);
  }

  hr {
    background: #007bff;
    color: #007bff;
    height: 0.2rem;
  }

/**********IDs**************/

  #main-header {
    margin-top: 1rem;
    padding: 0.2rem 0rem;
  }

  #main-header li {
    cursor: pointer;
  }

  #featured-article {
    border: 2px solid #fff;
    border-radius: 5%;
  }

/*******Classes**********/
  .hero {
    background: #007bff;
    margin-bottom: 1.5rem;
  }

  .hero h1 {
    font-family: var(--primary-font);
    text-align: center;
  }

  .hero img {
    display: block;
    margin: 0 auto;
  }

  .hero img:hover {
    border: solid 3px #fff;
    cursor: pointer;
    transform: scale(1.1);
  }
